<!DOCTYPE html>
<html lang="fr">

<%- include('../partials/head.ejs') %>


  <body>
    <header>

      <%- include('../partials/nav.ejs') %>

    </header>

    <main>
      <div class="blogs content">
        <h2 id="h2">All blogs</h2>
        <h3 id="h3">
          <%= name %>
        </h3>

        <h4>DOCKERIZED 1</h4>
        <h4>DOCKERIZED 2</h4>
        <h4>DOCKERIZED 3</h4>
        <h4>DOCKERIZED 4</h4>
        <h4>Blogs list : </h4>
        <% if (blogs.length> 0) { %>
          <% blogs.forEach(blog=> {%>
            <a href="/blogs/<%= blog._id %>" class="single">

              <h3 class="title">
                <%= blog.title %>
              </h3>
              <h4 class="title">
                <%= blog._id %>
              </h4>
              <p class="snippet">
                <%= blog.snippet %>
              </p>
              <p class="body">
                <%= blog.body %>
              </p>
            </a>
            <% }) %>
              <% } else { %>
                <p>There are no blogs to display...</p>
                <% }%>
      </div>
    </main>

    <%- include('../partials/footer.ejs') %>

  </body>

</html>