<!DOCTYPE html>
<html lang="fr">

<%- include('./partials/head.ejs') %>


  <body>
    <header>
      <div class="site-title">
        <a href="/">
          <h1>FAZ</h1>
          <p>blogatonny</p>
        </a>
      </div>

      <%- include('./partials/nav.ejs') %>
    </header>

    <main>
      <div class="blogs content">
        <h2 id="h2">All blogs</h2>
        <h3 id="h3">
          <%= name %>
        </h3>

        <p>articles list : </p>
        <% if (articles.length> 0) { %>
          <% articles.forEach(article=> {%>
            <h3 class="title">
              <%= article.title %>
            </h3>
            <p class="snippet">
              <%= article.content %>
            </p>
            <% }) %>
              <% } %>
      </div>
    </main>

    <%- include('./partials/footer.ejs') %>

  </body>

</html>